.label {
	border-radius: 4px;
	display: inline-block;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
	padding: 0.16em 0.56em;
	text-transform: unset !important;
	vertical-align: middle;
}

.label.red {
	background-color: #310506;
	border: 1px solid #c31319;
}

.label.yellow {
	background-color: #312905;
	border: 1px solid #c3a313;
}

.label.purple {
	background-color: #2e0531;
	border: 1px solid #b513c3;
}

/* EOF */
