/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, .chapter li.chapter-item {
	font-family: Ubuntu, Consolas, serif;
}

/* basic elements */
html {
	overflow-y: scroll;
}

pre, :not(pre) > code:not(.borderless) {
	padding: 0.2em 0.15em;
	font-weight: 400;
	background-color: var(--fira-secondary);
	border: 1px solid var(--fira-border);
	border-radius: var(--border-radius);
}

code > p > a {
	color: var(--fg) !important;
}

pre code a {
	color: var(--fg) !important;
	text-decoration: underline dotted !important;
}

.content > main > p {
	line-height: 1.6;
}

.content h1::before,
.content h2::before,
.content h3::before,
.content h4::before,
.content h5::before {
	display: inline-block;
	color: var(--fira-border);
	margin-right: 1rem;
}

.content h1:target::before,
.content h2:target::before,
.content h3:target::before,
.content h4:target::before,
.content h5:target::before {
	color: var(--fira-border);
	margin-left: 0;
	margin-right: 1rem;
	width: auto;
}

.content h1:target::before {content:     ">";}
.content h2:target::before {content:    ">>";}
.content h3:target::before {content:   ">>>";}
.content h4:target::before {content:  ">>>>";}
.content h5:target::before {content: ">>>>>";}
.content h1::before        {content:     "#";}
.content h2::before        {content:    "##";}
.content h3::before        {content:   "###";}
.content h4::before        {content:  "####";}
.content h5::before        {content: "#####";}

/* misc elements */
li::marker {
	color: var(--fira-border);
}

details {
	border-left: 4px solid var(--fira-border);
	padding: 0 1ch;
	margin-block: 0;
	background-color: var(--fira-secondary);
}

details summary {
	color: var(--fira-highlight);
	cursor: pointer;
}

details summary:hover {
	color: var(--fira-active);
}

details summary::marker,
details summary::-webkit-details-marker {
	content: "";
}

details summary::before {
	content: "â±";
	display: inline-block;
	margin-right: 0.25em;
	position: relative;
	top: -0.125em;
	transform: none;
	transform-origin: center;
	transition: transform 0.25s cubic-bezier(0.76, 0, 0.24, 1);
}

details[open] summary::before {
	transform: rotate(0.25turn);
}

details > :not(summary) {
	position: relative;
	left: 2ch;
	opacity: 0;
}

details:not([open]) > :not(summary) {
	font-size: 0;
}

details[open] > :not(summary) {
	overflow: hidden;
	transition:
		left      0.25s cubic-bezier(0.76, 0, 0.24, 1),
		opacity   0.25s cubic-bezier(0.76, 0, 0.24, 1),
		font-size 0.5s  cubic-bezier(0.76, 0, 0.24, 1);
	left: 0;
	opacity: 100%;
}

details > p {
	margin-block: 0;
}

footer {
	color: var(--fira-paint);
	font-size: 12px;
}

hr {
	color: var(--fira-border);
}

/* tables */
table {
	margin-block: 1em;
	border-collapse: unset;
	border-spacing: 0;
}

table td {
	border-top: none;
	border-right: none;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: var(--border-radius);
}

table tr:last-child td:last-child {
	border-bottom-right-radius: var(--border-radius);
}

table tr td:last-child {
	border-right: 1px var(--table-border-color) solid;
}

table thead {
	background: none;
}

table thead th {
	border-bottom: 1px var(--table-border-color) solid;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background: var(--table-header-bg);
}

/* headings */
h2, h3 {
	margin-top: 1em;
}

h4, h5 {
	margin-top: 0.5em;
}

/* definition lists */
dt, dd {
	margin: 0;
}

/* lists */
ul, ol {
	padding-left: 1em;
}

ol {
	margin-bottom: 0;
	counter-reset: item;
	padding-left: 0;
}

ol ol > li {
	margin-left: 2ch;
}

ol li {
	display: block;
}

ol li::before {
	content: counters(item, ".");
	counter-increment: item;
	color: var(--fira-paint);
	display: inline-block;
	padding-right: 1ch;
}

/* title */
.js .menu-title {
	cursor: unset;
}

.menu-title {
	display: block;
	color: var(--fira-paint);
}

/* chapter list */
.chapter li.chapter-item {
	margin-top: 0.6ex;
}

.chapter li:not(.chapter-item)::before {
	content: unset;
	counter-increment: unset;
	color: unset;
	display: unset;
	padding-right: unset;
}

.chapter li > a.toggle {
	margin-left: unset;
}

.chapter li a {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.section {
	padding-left: 0;
}

/* footnotes */
sup.footnote-reference::before, sup.footnote-definition-label::before {
	color: var(--fira-paint);
	content: "[";
}

sup.footnote-reference::after, sup.footnote-definition-label::after {
	color: var(--fira-paint);
	content: "]";
}

sup.footnote-definition-label {
	display: inline-block;
	min-width: 5ch;
}
